html
  head
    title= "Admin Dashboard"
  body
    h1= "Admin Dashboard"
    h2= "Post Reports"
    p !{postReports}
    h2= "Profile Reports"
    p !{profileReports} 
    h2= "User Reports"
    p !{userReports}